body {


  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url(Simple\ Shiny\ \(2\).svg);
  background-size: cover;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
  width: 300;
}

b {
  width: 500;
  font-size: 25px;
}

.rule-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.rule {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
}

.rule h3 {
  margin-bottom: 5px;
}

.rule-options {
  margin-bottom: 10px;
}

.rule-options select {
  margin-right: 10px;
}

.rule-container button {
  background-color: #519cec;
  width: 100%;
  height: 50px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  background-color: #00000012;
  box-shadow: 5px 2px 52px;
  height: 100px;
}

.navbar a {
  width: 200px;
  font-size: 20px;
}
.iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.iframe-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: none;
  background-color: white;
}
.iframe-container  button {
height: 60px;
width: 60px;
border-radius: 90px;
border: none;
box-shadow: 5px 5px 50px #ffffff;
margin-left: 50%;
margin-top: 30px;
background-color: rgb(226, 60, 60);
font-size: 40px;
font-weight: 500;
color: #ffffff;
align-items: center;
text-align: center;
}

 /* page rev 2*/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4e5f5;
  }

  header {
    background-color: #4897ec98;
    height: 50px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 20px #000;
  }

  form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    height: 150px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
label{
  font-size: 20px;
}
  .dsision {
    text-align: center;
  }
  button{
    width: 40%;
    height: 40px;
    background:linear-gradient(to left, #6a8aae, #fff) ;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
  }
  button:hover{
    background-color: rgb(36, 131, 225);
    color: #ffffff;
  }

